<table>
    <tr>
      <th>User</th>
      <th># of Beers Tapped</th>
    </tr>
<% @users.each do |user| %>
    <tr>
      <td><a href="#" class="userbeers" onClick="beerIndex(<%= user.id %>); return false"><%= user.name %></a></td>
      <td><%= user.beers.count %></td>
    </tr>
    <tr id="<%= user.id%>add"></tr>
<% end %>
</table>
