<table>
    <tr>
      <th>User</th>
      <th># of Beers Tapped</th>
    </tr>
<% @users.each do |user| %>
  <div >
    <tr id="<%= user.id %>beers">
      <td><a href="#" class="userbeers" data-id="<%= user.id %>"><%= user.name %></a></td>
      <td><%= user.beers.count %></td>
    </tr>
  </div>
<% end %>
</table>

<script type="text/javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".userbeers").on("click", function(e) {
    e.preventDefault()
    $.get("/users/" + this.dataset.id + ".json", function(data) {
      function beertable() {
        data.beers.map(beer => `<tr><td>${beer.name}</td><td>${beer.brewery}</td><td>${beer.style}</td></tr>`).join('')
      }

      var user_beer = `<tr><td>${data.beers[0].name}</td><td>${data.beers[0].brewery}</td><td>${data.beers[0].style}</td></tr>`

      $(`#${data.id}beers`).after(beertable());
    });
  })
});
</script>
