<h2>Check Out All Of The Beers Our Users Have Tried</h2>

<table>
    <tr>
      <th>Beer</th>
      <th>Overall User Rating</th>
    </tr>
<%@beers.organize.each do |beer| %>
    <tr>
      <td><%= beer.display %></td>
      <% if beer.overallrating %>
      <td><%= beer.overallrating.round(1) %></td>
      <% else %>
      <td><p>0</p></td>
      <% end %>
    </tr>
<% end %>
</table>
